$primary-font: 'Montserrat', 'Arial', sans-serif;
$secondary-font: 'Quicksand', 'Arial', sans-serif;
// $third-font: "Roboto", "Arial", sans-serif;

$dark: #1f2041;
$purple: #bc9cff;
$green: #6fcf97;

$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$secondary-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

$dark-gradient: linear-gradient(180deg, #919191 0%, #3D4975 100%);
$light-gradient: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
// $dark-blue: #1a1267;
// $blue: #3c82fa;
// $title-dark: #333333;
// $yellow: #f9ac00;
// $grey: #828282;
// $gray-2: #4f4f4f;
// $gray-3: rgba(40, 40, 40, 0.5);
// $white: #ffffff;
// $label-white: #fcfcfe;
// $azure: #d8e6fe;
// $bg-grey: #f6f6f6;
// $ui-grey: #756262;
// $header-bg-white: #fffcfc;
// $pagination-grey: #bdbdbd;
// $article-btn-bg: #b2bce0;
// $review-dark: rgba(40, 40, 40, 0.8);
// $menu-line-color: rgba(0, 0, 0, 0.5);
// $search-form-color: #1a1267;
// $article-hover-bg: rgba(26, 18, 103, 0.2);
// $review-image-overlay: rgba(255, 255, 255, 0.5);
// $logo-color:#002da0;
// $product-shadow: #bac0c7;
// $light-grey: #e5e5e5;
// $light-grey-help: #e0e0e0;
// $purple: #7718a4;
// $aqua: #12b8ed;
// $blue-metro: #1612ed;
// $red: #e72424;
// $shadow: rgba(0, 0, 0, 0.25);
// $violet: #c674ed;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$wide-screen: 1920px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;